.Hobbies{
    color: #B9CEED;
    font-size: 1.2em;
    font-family: serif, inherit;
}

.Habilidades{
    color: #A194DC;
    font-size: 1.2em;
    font-family: serif, inherit;
}

.DebilidadesyFortalezas{
    color:#D4A6DB;
    font-size: 1.2em;
    font-family: serif, inherit
}

.HistorialAcademico{
    color: #DBB19C;
    font-size: 1.2em;
    font-family: serif, inherit;
}

.debi1{
  text-align: left;
    border-style: solid;
    border-width: 5px;
    color:pink;
    }

.debi2{
  text-align: right;
    border-style: dashed;
    border-width: 5px;
    color:blue;
    }

.debi3{
  text-align: center;
    border-style: ridge;
    border-width: 5px;
    color:aqua;
    }

.debi4{
  text-align: left;
    border-style: groove;
    border-width:5px;
    color:coral;
    }

.debi5{
  text-align: right;
    border-style: outset;
    border-width: 5px;
    color:brown;
    }

.debi6{
  text-align: center;
    border-style: double;
    border-width: 5px;
    color:crimson;
    }

.fort1{
  text-align: left;
    border-style: solid;
    border-width: 5px;
    color:darkgrey;
    }

.fort2{
  text-align: left;
    border-style: dotted;
    border-width: 5px;
    color:navy;
    }

.fort3{
  text-align: left;
    border-style: dashed;
    border-width: 5px;
    color:magenta;
    }

.fort4{
  text-align: left;
    border-style: double;
    border-width: 5px;
    color:darkgreen;
    }

.fort5{
  text-align: left;
    border-style: groove;
    border-width: 5px;
    color:indianred;
    }

.fort6{
  text-align: left;
    border-style: ridge;
    border-width: 5px;
    color:darkviolet;
    }

